node_modules
.env
.prisma
prisma/dev.db
dist
build
.DS_Store
npm-debug.log
server.log
backend_start.log
node_modules
npm-debug.log
.env
/dist
/.prisma
/prisma/dev.db
Dockerfile
.dockerignore
.git
.vscode
.idea
